[submodule "AKAvR_IS"]
	path = AKAvR_IS
	url = https://github.com/HelpMySoul/AKAvR_IS.git
[submodule "AKAvR_App"]
	path = AKAvR_App
	url = https://github.com/HelpMySoul/AKAvR_App.git
[submodule "career-ai-system"]
	path = career-ai-system
	url = https://github.com/4iPiS/career-ai-system.git
